@font-face { 
  font-family: norse; 
  src: url(./norse/Norse.otf); 
} 


/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the line height in all browsers.
3. Prevent adjustments of font size after orientation changes in iOS.
4. Use a more readable tab size (opinionated).
*/

html {
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji'; /* 1 */
	line-height: 1.15; /* 2 */
	-webkit-text-size-adjust: 100%; /* 3 */
	tab-size: 4; /* 4 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

:root { 
  line-height: 1.5;
  --height: 100vh; 
  --width: 100vw; 
}

html, body { 
  height: var(--height);  
  overflow: hidden; 
  display: flex; 
} 

h1, h2, h3, h4, h5, figure, p, ol, ul { 
  margin: 0; 
} 

ol[role="list"], ul[role="list"] {
  list-style: none; 
  padding-inline: 0; 
}

h1, h2, h3, h4, h5 { 
  font-size: inherit; 
  font-weight: inherit; 
} 

img { 
  display: block; 
  max-inline-size: 100%; 
} 

form { 
  width: 100%; 
} 

.body {
  display: flex; 
  flex-direction: row;
  width: 100vw; 
  height: 100vh; 
} 

.image {
  display: flex; 
  height: 100vh; 
  background-image: url("./img/halie-west-25xggax4bSA-unsplash.jpg");
  background-size: cover; 
  flex-basis: 35%; 
}

.form_content { 
  height: 100vh; 
  display: flex; 
  flex-direction: column;
  background-color: oklch(96.7% 0.003 264.542);
  flex-basis: 65%;
} 

.header {
  padding: 0 1rem; 
  display: flex; 
  flex-basis: 40%
} 

.logo_banner { 
  width: 100%; 
  height: calc(var(--height) / 6);  
  display: flex; 
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center; 
  position: relative; 
  top: 23.5%;  
} 

.logo_banner > img { 
  padding: 0.5rem 0; 
}


#banner_text { 
  font-size: 7rem;
  font-weight: 700;
  color: white; 
  opacity: 100%;  
  display: flex; 
  align-self: center; 
  font-family: norse, system-ui; 
} 

.header_text { 
  width: 50ch; 
  font-size: 24px;
  font-weight: 600;
  padding: 0.5em; 
  display: flex; 
  align-self: flex-end; 
  margin-bottom: 2em; 
  line-height: 1.55555; 
}

.form_body { 
  display: flex; 
  background-color: #ffffff;
} 

.form_body > div:last-child { 
  padding-bottom: 1em; 
} 

.form_footer { 
  display: flex; 
  flex-direction: column;
  margin: 2em;
  justify-content: flex-start;  
} 

.form_footer > button { 
  background-color: #596D48; 
  border-radius: 8px;
  border: none;
  color: #ffffff; 
  font-size: 16px; 
  font-weight: 600;
  width: fit-content;
  padding: 1rem 3rem; 
} 

.form_footer > p { 
  margin-top: 1em; 
} 

.inputs > p { 
  background-color: #fff;
  padding: 1em 1em 0 1em; 
  font-size: 24px;
  font-weight: 700; a
}

.inputs { 
  display: flex; 
  width: 100%; 
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3); /* offset-y larger, spread-radius negative to simulate bottom-only */ 
}

.form_inputs { 
  display: flex; 
  flex-direction: row;
  flex-grow: 1; 
  flex-basis: 60%; 
} 

.form_row {
  display: flex; 
  flex-direction: column; 
  margin: 1em 2em;
}

.form_body > div { 
  width:40%; 
  display: flex; 
  flex-direction: column; 
}
